body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("images/newYork.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: top;


}

/*viables for colours and fonts*/
:root {
    --black: #000000;
    --white: #fdfdeb;
    --green:#317c15;

    --font:"Abril Fatface", serif;
    --displayfont: "Signika", sans-serif;
}

main {
    height: 500px;

}

header, footer {
    margin: 0px;
    padding: 1%;
    text-align: center;
    color: var(--black);
}

h1 {
    font-size: 50px;
}


#question{
    margin: auto;
    padding: 2%;
    text-align: center;
    height: 300px;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.776);


    font-size: 20px;
    color: var(--white);

}

button {
    border: 0px;
    height: 50px;
    background-color: var(--green);
    color: var(--white);
    padding: 2%;

}

button:hover {
    background-color: rgb(128, 49, 0);


}



